/* WE ASSUME THAT IMAGES CAN'T BE RESIZED BEFORE THEIR USE AND DON'T HAVE TO BREAK THEIR ASPECT RATIO */

/* #region Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* FALLBACK DECLARATION IN CASE OF BROWSER INCOMPATIBILITY WITH SVH UNIT*/
  height: 100vh;
  height: 100svh;
  background: #3c3c3c;
}

.carousel > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}

/* #endregion Common */

/* #region Utilities */

.container {
  position: relative;
  height: 100%;
  width: 96%;
  max-width: 1320px;
  margin: auto;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  aspect-ratio: 21 / 9;
  overflow: hidden;
}

.carousel > img:not(.visible) {
  display: none;
}

/* #endregion Utilities */

/* #region Icons */

i {
  position: absolute;
  z-index: 2;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1 / 1;
  background-color: #ffffff33;
  cursor: pointer;
  transition: background-color 0.4s;
}

i:hover {
  background-color: #ffffff99;
}

.next_image {
  bottom: 10px;
  right: 10% ;
  transform: translate(50%, 0);
}

.prev_image {
  top: 10px;
  right: 10% ;
  transform: translate(50%, 0);
}

/* #endregion Icons */

/* #region Thumbnails */

#thumbnail_container{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
}

#thumbnail_container > div:not(.active)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
}

#thumbnail_container > div {
  position: relative;
  height: 20%;
  overflow: hidden;
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;
}

#thumbnail_container > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#thumbnail_container > div > img:hover {
  cursor: pointer;
}

/* #endregion Thumbnails */
